#Vagrant
.vagrant/

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml
## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

#Exclude composer vendor folders
vendor
node_modules
npm-debug.log*
BuildConfig.json
security-checker.phar

# Uploaded Images
src/Images/Family
src/Images/Person

# SASS
.sass-cache

#skins
src/skin/external
src/skin/adminlte
src/skin/churchcrm.min.css.map
src/skin/churchcrm.min.css

#locale files
src/locale/datatables
src/locale/js

# Configuration files with passwords
src/Include/Config.php

target
temp_attach
src/ChurchCRM/model/ChurchCRM/Base
src/ChurchCRM/model/ChurchCRM/Map
src/signatures.json
src/integrityCheck.json
src/tmp_attach
src/logs/*.log

error.log

nbproject/*
/src/skin/js-react/
