{
    "POEditor": {
        "id": "77079",
        "token": ""
    },
    "GitHub": {
        "token": ""
    },
    "demoKey": "",
    "Env": {
            "local": {
                "server": "localhost",
                "database": {
                    "server": "localhost",
                    "port" : "3309",
                    "database": "churchcrm",
                    "user":"churchcrm",
                    "password": "churchcrm"
                },
                "admin-api-key": ""
            }
        }
}
