.LeftNavColumn
{
	background: #F3DBDB;
}

.Footer
{
	background: #F3DBDB;
}

.Search
{
	background: #F8EAEA;
}

.icButton
{
	background: #F3DBDB;
}

.icTinyButton
{
	background: #F8EAEA;
}

.ShadedBox
{
	background: #F3DBDB;
}

.LightShadedBox
{
	background: #FDF7F7;
	border: solid 1px #F3DBDB;
}

.SmallShadedBox
{
	background: #F3DBDB;
}

.TinyShadedBox
{
	background: #F8EAEA;
}

TR.RowColorA TD
{
	background: #FDF7F7;
}

TR.PaymentRowColorA TD
{
	background: #00FF00;
}

TR.PaymentRowColorB TD
{
	background: #00C000;
}

DIV.BJ_subMenuBar
{
	background-color: #F3DBDB;
	border-top: 2px solid #FDF7F7;
	border-right: 2px solid #868379;
	border-bottom: 2px solid #868379;
	border-left: 2px solid #FDF7F7;
}

DIV.BJ_menuBar
{
	background-color: #F3DBDB;
}

DIV.BJ_menuElement
{
    border: 1px solid #F3DBDB;
}

DIV.BJ_subMenuElementHover
{
    background-color: #FDF7F7;
}

DIV.BJ_menuElementHover
{
    border-color: #FDF7F7 #868379 #868379 #FDF7F7;
}

DIV.BJ_menuElementActive
{
    background-color: #FDF7F7;
    border-color: #868379 #FDF7F7 #FDF7F7 #868379;
}

DIV.hr
{
    border-top: 1px solid #906040;
    border-bottom: 1px solid #e0b090;
}

TR.TableHeader TD
{
	background: #F3DBDB;
}

TR.TinyTableHeader TD
{
	background: #F8EAEA;
}

TD.LabelColumn
{
	background: #F3DBDB;
}

TD.PaymentLabelColumn
{
	background: #00FF00;
}

TD.TinyLabelColumn
{
	background: #F8EAEA;
}

TD.TinyTextColumn
{
	background: #F8EAEA;
}

.TDscroll {
  background: #F8EAEA;
}

/* ## bevand10 - 2012-04-25 - add row hover effect - use SmallShadedBox:background-color */
tr.RowColorA:hover td,
tr.RowColorB:hover td,
tr.RowColorC:hover td,
tr.PaymentRowColorA:hover td,
tr.PaymentRowColorB:hover td {
	background-color: #F3DBDB;
}

