/* YUI 3 CSS reset */
html{
	color:#000;
	background:#FFF;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset, img {
	border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal;
}
li {
	list-style:none;
}
caption, th {
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
q:before, q:after {
	content:'';
}
abbr, acronym {
	border:0;
	font-variant:normal;
}
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
input, textarea, select {
	*font-size:100%;
}
legend {
	color:#000;
}
/* end reset */

body
{
	margin: 0;
	padding: 0px;
	font-family: arial, san-serif;
    font-size: 75%;
}

td, th
{
    font-family: arial, san-serif;
    /* font-size: 75%; */
    padding: 4;
}

textarea, input
{
	font-family: arial, san-serif;
	font-size: 125%;
}

.LeftNavColumn
{
	background: #F2EEDB;
	border-right: solid 1px black;
}

.Footer
{
	position: fixed;
	width: 100%;
	height: 26px;
	top: auto;
	right: 0;
	bottom: 0;
	left: 0;
	background: #F2EEDB;
	text-align: center;
	border-top: solid 1px black;
}

.Search
{
	border-bottom: solid 1px black;
	background: #F7F5EA;
}

td.HeaderRow
{
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 1px;
}

.icButton
{
	background: #F2EEDB;
	border: solid 1px black;
	cursor: pointer;
}

.icTinyButton
{
	background: #F7F5EA;
	border: solid 1px gray;
	font-size: 80%;
	padding: 0px;
	cursor: pointer;
}

a:active
{
	color: navy
}

a:visited
{
	color: navy
}

a:link
{
	color: navy
}

a:hover
{
	text-decoration: none;
}

a.SmallText
{
	font-size: 90%;
}

.PageTitle
{
	font-size: 170%;
	color: black;
	text-align: left;
	border-bottom: solid 1px black;
	font-family: arial, san-serif;
}

.LargeText
{
	font-size: 160%;
}

.MediumLargeText
{
	font-size: 140%;
}

.MediumText
{
	font-size: 120%;
}

.SmallText
{
	font-size: 90%;
}

.SmallError
{
	font-size: 90%;
	color: red;
}

.LargeError
{
	font-size: 140%;
	color: red;
}

.ShadedBox
{
	background: #F2EEDB;
	border: solid 1px black;
	padding: 8px;
}

.LightShadedBox
{
	background: #fcfbf7;
	border: solid 1px #F2EEDB;
	padding: 4px;
}

.SmallShadedBox
{
	background: #F2EEDB;
	border: solid 1px black;
	padding: 4px;
}

.TinyShadedBox
{
	background: #f7f5ea;
	border: solid 1px white;
	padding: 2px;
}

tr.RowColorA td
{
	background: #fcfbf7;
	border-bottom: solid 1px #eaeaea;
}

tr.RowColorB td
{
	background: white;
	border-bottom: solid 1px #eaeaea;
}

tr.RowColorC td
{
	background: white;
	border-bottom: solid 1px #eaeaea;
}

tr.PaymentRowColorA td
{
	background: #00FF00;
	border-bottom: solid 1px #eaeaea;
}

tr.PaymentRowColorB td
{
	background: #00C000;
	border-bottom: solid 1px #eaeaea;
}

div.MenuItem
{
	color: navy;
	font-weight: bold;
	padding: 10px;
}

div.ActiveMenuItem
{
	background: navy;
	font-weight: bold;
	color: gray;
	padding: 10pt;
}

div.p
{
    font-family: arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0px;
}

/* superfish nav */

#topnav > ul, #topnav > ul * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
#topnav > ul {
	line-height:	1.0;
}
#topnav > ul ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
#topnav > ul ul li {
	width:			100%;
}
#topnav > ul li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
#topnav > ul li {
	float:			left;
	position:		relative;
}
#topnav > ul a {
	display:		block;
	position:		relative;
}
#topnav > ul li:hover ul,
#topnav > ul li.sfHover ul {
	left:			0;
	top:			2.5em; /* match top ul list item height */
	z-index:		99;
}
ul#topnav > ul li:hover li ul,
ul#topnav > ul li.sfHover li ul {
	top:			-999em;
}
ul#topnav > ul li li:hover ul,
ul#topnav > ul li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul#topnav > ul li li:hover li ul,
ul#topnav > ul li li.sfHover li ul {
	top:			-999em;
}
ul#topnav > ul li li li:hover ul,
ul#topnav > ul li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
#topnav {
	width: 100%;
	background: #F2EEDB;
}

#topnav > ul {
    font-family: arial,sans-serif;
    font-size: 10px;
    color: #000000;
	float:			left;
	margin-bottom:	.25em;
}
#topnav > ul a {
	border-left:	1px solid #fff;
	border-top:		1px solid #CFDEFF;
	padding: 		.75em 1em;
	text-decoration:none;
}
#topnav > ul a, #topnav > ul a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#000;
}
#topnav > ul li {
	
}
#topnav > ul li li {
	background:		#F2EEDB;
}
#topnav > ul li li li {
	background:		#F2EEDB;
}
#topnav > ul li:hover, #topnav > ul li.sfHover,
#topnav > ul a:focus, #topnav > ul a:hover, #topnav > ul a:active {
	background:		#F2FFFF;
	outline:		0;
}

/*** arrows **/
#topnav > ul a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('./arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
#topnav > ul ul .sf-sub-indicator { background-position:  -10px 0; }
#topnav > ul ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
#topnav > ul ul a:focus > .sf-sub-indicator,
#topnav > ul ul a:hover > .sf-sub-indicator,
#topnav > ul ul a:active > .sf-sub-indicator,
#topnav > ul ul li:hover > a > .sf-sub-indicator,
#topnav > ul ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('../images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}

div.hr
{
    border-top: 1px solid #906040;
    border-bottom: 1px solid #e0b090;
}

.Help_Header
{
	color: navy;
	font-weight: bold;
}

P
{
	margin-top: 5px;
	margin-bottom: 10px;
}

ol li
{
	padding-top: 2px;
	padding-bottom: 2px;
}

.Help_Section
{
	text-align: justify;
}


select
{
	font-size: 8pt;
}

hr
{
	height: 1px;
	color: black;
	width: 100%;
}

tr.TableHeader td
{
	background: #F2EEDB;
	font-weight: bold;
	border-bottom: solid 1px black;
	border-top: solid 1px black;
}

tr.TinyTableHeader td
{
	background: #f7f5ea;
	/* font-size: 75%; */
	font-weight: bold;
	border-bottom: solid 1px black;
}

td.LabelColumn
{
	text-align: right;
	font-weight: bold;
	background: #F2EEDB;
	border: solid 1px black;
	padding: 8px;
	vertical-align: top;
}

td.PaymentLabelColumn
{
	text-align: right;
	font-weight: bold;
	background: #00FF00;
	border: solid 1px black;
	padding: 8px;
	vertical-align: top;
}

td.TinyLabelColumn
{
	text-align: right;
	font-weight: bold;
	background: #f7f5ea;
	border: solid 1px white;
	padding: 2px;
	vertical-align: top;
}

td.TextColumn
{
	border-top: solid 1px #eaeaea;
	padding: 8px;
	vertical-align: top;
}

td.TinyTextColumn
{
	border-top: solid 1px white;
	background: #F7F5EA;
	padding: 2px;
	vertical-align: top;
}

td.TextColumnWithBottomBorder
{
	border-top: solid 1px #eaeaea;
	border-bottom: solid 1px #eaeaea;
	padding: 8px;
}

td.ControlBreak
{
	font-size: 130%;
	color: black;
	text-align: left;
	font-family: arial, san-serif;
}

/* Styles for the tooltip pop-up help */

/* Default DOM Tooltip Style */
div.domTT {
    border: 1px solid #333333;
}
div.domTTCaption {
    font-family: serif;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 2px;
    color: #FFFFFF;
    background-color: #333333;
}
div.domTTContent {
    font-size: 12px;
    font-family: sans-serif;
    padding: 3px 2px;
    background-color: #F1F1FF;
}
/* Classic Style */
div.domTTClassic {
    border: 1px solid black;
    background-color: #FBF4D4;
}
div.domTTClassicCaption {
    font-family: serif;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    padding: 1px 2px;
}
div.domTTClassicContent {
    font-size: 12px;
    font-family: Arial, sans-serif;
    padding: 1px 2px 0 2px;
}
/* Win9x Style */
div.domTTWin {
  border: 2px outset #BFBFBF;
  background-color: #808080
}
div.domTTWinCaption {
  border: 0px solid #BFBFBF;
  border-width: 1px 1px 0px 1px;
  background-color: #00007F;
  padding: 2px;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
}
div.domTTWinContent {
  border: 1px solid #BFBFBF;
}
/* Overlib Style */
div.domTTOverlib {
    border: 1px solid #333366;
}
div.domTTOverlibCaption {
    font-family: Verdana, Helvetica;
    font-size: 10px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #333366;
}
div.domTTOverlibContent {
    font-size: 10px;
    font-family: Verdana, Helvetica;
    padding: 2px;
    background-color: #F1F1FF;
}
div.domTTMenu {
  width: 150px;
  border: 2px outset #E6E6E6;
}
div.domTTMenuCaption {
  font-size: 12px;
  font-family: sans-serif;
  background-color: #E6E6E6;
}
div.domTTMenuContent {
  padding: 1px 0;
  background-color: #E6E6E6;
}

.TDscroll {
  border-top: solid 1px white;
  background: #F7F5EA;
  padding: 2px;
  vertical-align: top;
  width: auto;
  height: 30px;
  overflow:auto;
}

/* ## bevand10 - 2012-04-25 - add row hover effect - use SmallShadedBox:background-color */
tr.RowColorA:hover td,
tr.RowColorB:hover td,
tr.RowColorC:hover td,
tr.PaymentRowColorA:hover td,
tr.PaymentRowColorB:hover td {
	background-color: #F2EEDB;
}
