.LeftNavColumn
{
	background: #DBE0F3;
}

.Footer
{
	background: #DBE0F3;
}

.Search
{
	background: #EAECF8;
}

.icButton
{
	background: #DBE0F3;
}

.icTinyButton
{
	background: #EAECF8;
}

.ShadedBox
{
	background: #DBE0F3;
}

.LightShadedBox
{
	background: #F7F7FD;
	border: solid 1px #DBE0F3;
}

.SmallShadedBox
{
	background: #DBE0F3;
}

.TinyShadedBox
{
	background: #EAECF8;
}

TR.RowColorA TD
{
	background: #F7F7FD;
}

DIV.BJ_subMenuBar
{
	background-color: #DBE0F3;
	border-top: 2px solid #F7F7FD;
	border-right: 2px solid #868379;
	border-bottom: 2px solid #868379;
	border-left: 2px solid #F7F7FD;
}

DIV.BJ_menuBar
{
	background-color: #DBE0F3;
}

DIV.BJ_menuElement
{
    border: 1px solid #DBE0F3;
}

DIV.BJ_subMenuElementHover
{
    background-color: #F7F7FD;
}

DIV.BJ_menuElementHover
{
    border-color: #F7F7FD #868379 #868379 #F7F7FD;
}

DIV.BJ_menuElementActive
{
    background-color: #F7F7FD;
    border-color: #868379 #F7F7FD #F7F7FD #868379;
}

TR.TableHeader TD
{
	background: #DBE0F3;
}

TR.TinyTableHeader TD
{
	background: #EAECF8;
}

TD.LabelColumn
{
	background: #DBE0F3;
}

TD.PaymentLabelColumn
{
	background: #00FF00;
}

TD.TinyLabelColumn
{
	background: #EAECF8;
}

TD.TinyTextColumn
{
	background: #EAECF8;
}


.TDscroll {
  background: #EAECF8;
}

/* ## bevand10 - 2012-04-25 - add row hover effect - use SmallShadedBox:background-color */
tr.RowColorA:hover td,
tr.RowColorB:hover td,
tr.RowColorC:hover td,
tr.PaymentRowColorA:hover td,
tr.PaymentRowColorB:hover td {
	background-color: #DBE0F3;
}
