.LeftNavColumn
{
	background: #DBF3DD;
}

.Footer
{
	background: #DBF3DD;
}

.Search
{
	background: #EAF8EB;
}

.icButton
{
	background: #DBF3DD;
}

.icTinyButton
{
	background: #E5F3E6;
}

.ShadedBox
{
	background: #DBF3DD;
}

.LightShadedBox
{
	background: #F7FDF8;
	border: solid 1px #DBF3DD;
}

.SmallShadedBox
{
	background: #DBF3DD;
}

.TinyShadedBox
{
	background: #EAF8EC;
}

TR.RowColorA TD
{
	background: #F7FDF8;
}


DIV.BJ_subMenuBar
{
	background-color: #DBF3DD;
	border-top: 2px solid #FBF9F4;
	border-right: 2px solid #7A867B;
	border-bottom: 2px solid #7A867B;
	border-left: 2px solid #FBF9F4;
}

DIV.BJ_menuBar
{
	background-color: #DBF3DD;
}

DIV.BJ_menuElement
{
    border: 1px solid #DBF3DD;
}

DIV.BJ_subMenuElementHover
{
	background-color: #F7FDF8;
}

DIV.BJ_menuElementHover
{
    border-color: #FBF9F4 #7A867B #7A867B #FBF9F4;
}

DIV.BJ_menuElementActive
{
    background-color: #F7FDF8;
    border-color: #7A867B #FBF9F4 #FBF9F4 #7A867B;
}

DIV.hr
{
    border-top: 1px solid #408E49;
    border-bottom: 1px solid #8EE09C;
}

TR.TableHeader TD
{
	background: #DBF3DD;
}

TR.TinyTableHeader TD
{
	background: #EAF8EC;
}

TD.LabelColumn
{
	background: #DBF3DD;
}

TD.TinyLabelColumn
{
	background: #EAF8EC;
}

TD.TinyTextColumn
{
	background: #E7F5E9;
}

.TDscroll {
  background: #E7F5E9;
}

/* ## bevand10 - 2012-04-25 - add row hover effect - use SmallShadedBox:background-color */
tr.RowColorA:hover td,
tr.RowColorB:hover td,
tr.RowColorC:hover td,
tr.PaymentRowColorA:hover td,
tr.PaymentRowColorB:hover td {
	background-color: #DBF3DD;
}
