.LeftNavColumn
{
	background: #F3DBEF;
}

.Footer
{
	background: #F3DBEF;
}

.Search
{
	background: #F8EAF5;
}

.icButton
{
	background: #F3DBEF;
}

.icTinyButton
{
	background: #F8EAF5;
}

.ShadedBox
{
	background: #F3DBEF;
}

.LightShadedBox
{
	background: #FDF7FC;
	border: solid 1px #F3DBEF;
}

.SmallShadedBox
{
	background: #F3DBEF;
}

.TinyShadedBox
{
	background: #F8EAF5;
}

TR.RowColorA TD
{
	background: #FDF7FC;
}

TR.PaymentRowColorA TD
{
	background: #00FF00;
}

TR.PaymentRowColorB TD
{
	background: #00C000;
}

DIV.BJ_subMenuBar
{
	background-color: #F3DBEF;
	border-top: 2px solid #FDF7FC;
	border-right: 2px solid #868379;
	border-bottom: 2px solid #868379;
	border-left: 2px solid #FDF7FC;
}

DIV.BJ_menuBar
{
	background-color: #F3DBEF;
}

DIV.BJ_menuElement
{
    border: 1px solid #F3DBEF;
}

DIV.BJ_subMenuElementHover
{
    background-color: #FDF7FC;
}

DIV.BJ_menuElementHover
{
    border-color: #FDF7FC #868379 #868379 #FDF7FC;
}

DIV.BJ_menuElementActive
{
    background-color: #FDF7FC;
    border-color: #868379 #FDF7FC #FDF7FC #868379;
}

DIV.hr
{
    border-top: 1px solid #906040;
    border-bottom: 1px solid #e0b090;
}

TR.TableHeader TD
{
	background: #F3DBEF;
}

TR.TinyTableHeader TD
{
	background: #F8EAF5;
}

TD.LabelColumn
{
	background: #F3DBEF;
}

TD.PaymentLabelColumn
{
	background: #00FF00;
}

TD.TinyLabelColumn
{
	background: #F8EAF5;
}

TD.TinyTextColumn
{
	background: #F8EAF5;
}

.TDscroll {
  background: #F8EAF5;
}

/* ## bevand10 - 2012-04-25 - add row hover effect - use SmallShadedBox:background-color */
tr.RowColorA:hover td,
tr.RowColorB:hover td,
tr.RowColorC:hover td,
tr.PaymentRowColorA:hover td,
tr.PaymentRowColorB:hover td {
	background-color: #F3DBEF;
}

