# Ignore everything in this directory
*
# Except this file
# THE CONTENTS OF THIS DIRECTORY SHOULD BE MERGED PRIOR TO THE RELEASE OF 2.4.0
# THIS DIRECTORY EXISTS ONLY TO ALLEVIATE GIT-CONFLICTS IN THE DEVELOPMENT OF 2.4.0 UPGRADE SCRIPTS
!.gitignore