# # # # # # # # # # # # # # # # # #
#  MySQL and ChurchCRM .env file  #
# # # # # # # # # # # # # # # # # #

# Database Host and Root Password. CHANGE THE PASSWORD. Make the Host the same as the database service.
MYSQL_DB_HOST=database
MYSQL_ROOT_PASSWORD=changeme

# ChurchCRM Database Settings
MYSQL_DATABASE=churchcrm
MYSQL_USER=churchcrm
MYSQL_PASSWORD=changeme

# ChurchCRM Admin Settings (Disabled for Now)
# CHURCHCRM_ADMIN: admin
# CHURCHCRM_PASSWORD: changeme
