@use "sass:meta";
/*! DO NOT MANUALLY EDIT skin/churchcrm.min.css

    Please make changes to skin/scss/*.scss and recompile with SASS. http://sass-lang.com/

    sass --watch src/skin/churchcrm.scss:src/skin/churchcrm.min.css --style compressed

*/

// Import Libraries

// The only library we do not embed is Bootstrap, because it's very big
@import 'external/bootstrap-datepicker/bootstrap-datepicker.standalone.min.css';
@import 'external/bootstrap-daterangepicker/daterangepicker.css';
@import 'external/datatables/datatables.min.css';
@import 'external/select2/select2.min.css';
@import 'external/adminlte/adminlte.min.css';
@import 'external/fontawesome/css/all.min.css';

@import 'external/jquery-ui/jquery-ui.css';
@import 'external/bootstrap-toggle/bootstrap-toggle.css';
@import 'external/jquery.steps/jquery.steps.css';
@import 'external/jquery-photo-uploader/PhotoUploader.css';

@import 'external/react-datepicker/react-datepicker.min.css';
@import 'external/flag-icons/css/flag-icons.min.css';

// Import ChurchCRM custom styles

@include meta.load-css('scss/dropdowns');
@include meta.load-css('scss/forms');
@include meta.load-css('scss/tables');
@include meta.load-css('scss/profileImage');
@include meta.load-css('scss/shortConfig');
@include meta.load-css('scss/leftNav');
@include meta.load-css('scss/imageOverlay');
@include meta.load-css('scss/maps');
@include meta.load-css("scss/spacing");
@include meta.load-css('scss/SystemNotifications');
@include meta.load-css('scss/cartDropdown');
@include meta.load-css('scss/strike');
@include meta.load-css('scss/calendars');
@include meta.load-css('scss/react-datepicker');
@include meta.load-css('scss/_two-factor-enrollment');
@include meta.load-css('scss/systemSettings');

html, body {
  font-size: 14px;
}
