.profile-user-img {
  height:100px;
}

.profile-family-img, .profile-user-img-md {
  height:200px;
  width:200px;
  border:0;
}

.user-image{
border-radius:50%;
}

.users-list > li:nth-child(4n+1) { 
  clear: both; 
}
