#TwoFAEnrollmentSteps div.col-lg-4 {
    text-align: center;
}

#TwoFAEnrollmentSteps div.col-lg-4 i{
    font-size: 100px
}

#TwoFAEnrollmentSteps button.btn-success {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    min-height: 60px;
}

