// This is the base file that is compiled into include/ChurchCRM.css

/* DO NOT MANUALLY EDIT include/ChurchCRM.css
   Please make changes to scss/*.scss and recompile with SASS. http://sass-lang.com/

   sass --watch churchinfo/scss/ChurchCRM.scss:churchinfo/include/ChurchCRM.css
*/

@import 'tables';
@import 'dropdowns';
@import 'forms';
